<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en" >
  <head>
    <title>yal10n dashboard</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="webjars/normalize.css/normalize.css" type="text/css" rel="stylesheet"/>
    <link href="webjars/foundation/css/foundation.min.css" type="text/css" rel="stylesheet"/>
    <link href="default.css" type="text/css" rel="stylesheet"/>
    <script src="webjars/modernizr/modernizr.min.js"></script>
  </head>
  <body class="dashboard">
    <div class="contain-to-grid fixed">
      <nav class="top-bar" data-topbar role="navigation">
        <ul class="title-area">
            <li class="name">
                <h1>
                    <a href="#">yal10n Dashboard</a>
                </h1>
            </li>
        </ul>
      </nav>
    </div>

    <div class="row">
        <div class="columns">
            <p>Generation Date: $dashboard.generationDate</p>

            <table>
              <tr>
                <th>&nbsp;</th>
                <th>Project Name</th>
                <th>default</th>
#foreach( $lang in $dashboard.allLanguages)
                <th>$lang</th>
#end
                <th>Checkout SVN</th>
#if ($dashboard.createTmx)
                <th>Download TMX</th>
#end
            </tr>

#foreach( $project in $dashboard.projects )
            <tr>
            #set($rows = 1 + $project.allBundles.size())
            #if ($dashboard.createTmx)
            #set($cols = 5 + $dashboard.allLanguages.size())
            #else
            #set($cols = 4 + $dashboard.allLanguages.size())
            #end
                <td rowspan="$rows" class="project-col">&nbsp;</td>
                <td colspan="$cols" class="project-row">&nbsp;</td>
            </tr>
#foreach( $bundle in $project.allBundles )
            <tr>
                <td class="highlight">$bundle.projectName</td>
#if ($bundle.base)
                <td class="$bundle.base.issuesSeverityClass">
                    <a href="reports/$bundle.relativeReportUrl#default">default</a>
#else
                <td class="severity-major">
                    missing
#end
                </td>

#foreach( $lang in $bundle.languages)
#if ($lang.existing)
                <td class="$lang.issuesSeverityClass">
                    <a href="reports/$bundle.relativeReportUrl#$lang.name">$lang.name</a>
#elseif (!$lang.existing && !$lang.variant && ($bundle.base && $bundle.base.countOfMessages > 0))
                <td class="severity-major">
                    missing
#else
                <td class="highlight">
                    missing
#end
                </td>
#end

                <td class="highlight"><a href="$bundle.base.svnCheckoutUrl">checkout</a></td>

#if ($dashboard.createTmx)
                <td class="highlight"><a href="reports/$bundle.relativeTmxUrl">Download TMX</a></td>
#end
              </tr>
#end
#end
        </table>

#if ($dashboard.createTmx)
            <p>
                <a href="all-translations.tmx">Download complete translation memory</a>
            </p>
#end
        </div>
    </div>


    <div class="row">
        <div class="columns">
            &copy; Powered by <a href="http://yal10n.sf.net">yal10n</a> $dashboard.version
        </div>
    </div>

    <script src="webjars/jquery/jquery.min.js"></script>
    <script src="webjars/foundation/js/foundation.min.js"></script>
    <script>
      $(document).foundation();
    </script>
  </body>
</html>
