<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en" >
  <head>
    <title>yal10n - Report for $report.projectName</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="../webjars/normalize.css/normalize.css" type="text/css" rel="stylesheet"/>
    <link href="../webjars/foundation/css/foundation.min.css" type="text/css" rel="stylesheet"/>
    <link href="../default.css" type="text/css" rel="stylesheet"/>
    <script src="../webjars/modernizr/modernizr.min.js"></script>
  </head>
  <body>
  <body class="report">
    <div class="row">
      <div class="columns">
        <h1>yal10n - Report for $report.projectName</h1>

        <p>Generation Date: $report.generationDate</p>
        <p>Maven Coordinates: $report.mavenCoordinates</p>
        <p>Base Path: $report.basePath</p>
        <p>Base Name: $report.baseName</p>

        <table>
          <tr>
            <th>Language</th>
            <th>Encoding</th>
            <th>Count of Messages</th>
            <th>Count of Not Translated Messages</th>
            <th>Count of Missing Messages</th>
            <th>Count of Additional Messages</th>
          </tr>
#foreach( $lang in $report.allLanguages)
          <tr>
            <td><a href="#$lang.name">$lang.name</a></td>
            <td>$lang.encoding</td>
            <td>$lang.countOfMessages</td>
            <td>$lang.notTranslatedMessages.size()</td>
            <td>$lang.missingMessages.size()</td>
            <td>$lang.additionalMessages.size()</td>
          </tr>
#end
        </table>

        <div class="languages">
          <dl class="tabs" data-tab data-options="deep_linking:true;scroll_to_content: false">
#foreach( $lang in $report.allLanguages)
            <dd class="#if( $velocityCount == 1)active#end">
                <a href="#$lang.name">$lang.name</a>
            </dd>
#end
          </dl>

          <div class="tabs-content">
#foreach( $lang in $report.allLanguages)
            <div class="content #if( $velocityCount == 1)active#end" id="$lang.name">

            <table>
                <tr>
                    <th>Type</th>
                    <th>Count of Keys / Key</th>
                    <th>Value in the default locale</th>
                </tr>
                <tr>
                    <th>Total Keys</th>
                    <td colspan="2"><span class="round label">$lang.countOfMessages</span></td>
                </tr>
                #set( $rows = $lang.missingMessages.size() + 1 )
                <tr>
                    <th rowspan="$rows">Missing</th>
                    <td colspan="2"><span class="round label">$lang.missingMessages.size()</span></td>
                </tr>
                #foreach ($key in $lang.missingMessages.keySet())
                <tr>
                    <td>$esc.html($key)</td>
                    <td>$esc.html($lang.missingMessages[$key])</td>
                </tr>
                #end
                #set( $rows = $lang.notTranslatedMessages.size() + 1 )
                <tr>
                    <th rowspan="$rows">Not Translated</th>
                    <td colspan="2"><span class="round label">$lang.notTranslatedMessages.size()</span></td>
                </tr>
                #foreach ($key in $lang.notTranslatedMessages.keySet())
                <tr>
                    <td>$esc.html($key)</td>
                    <td>$esc.html($lang.notTranslatedMessages[$key])</td>
                </tr>
                #end
                #set( $rows = $lang.additionalMessages.size() + 1 )
                <tr>
                    <th rowspan="$rows">Additional</th>
                    <td colspan="2"><span class="round label">$lang.additionalMessages.size()</span></td>
                </tr>
                #foreach ($key in $lang.additionalMessages.keySet())
                <tr>
                    <td>$esc.html($key)</td>
                    <td>$esc.html($lang.additionalMessages[$key])</td>
                </tr>
                #end
                #set( $rows = $lang.scoreLog.size() + 1 )
                <tr>
                    <th rowspan="$rows">Issues</th>
                    <td colspan="2"><span class="round label">$lang.scoreLog.size()</span></td>
                </tr>
                #foreach ($log in $lang.scoreLog)
                <tr>
                    <td colspan="2">$esc.html($log)</td>
                </tr>
                #end
            </table>

              <p>Encoding: $lang.encoding</p>
              <p>Download analyzed version: <a href="../$lang.relativeUrl">$lang.svnInfo</a></p>
              <p>Download latest version: <a href="$lang.svnUrl">$lang.svnUrl</a></p>

            </div>
#end
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="columns">
        &copy; Powered by <a href="http://yal10n.sf.net">yal10n</a> $report.version
      </div>
    </div>

    <script src="../webjars/jquery/jquery.min.js"></script>
    <script src="../webjars/foundation/js/foundation.min.js"></script>
    <script>
      $(document).foundation();
    </script>
  </body>
</html>