table th {
   background-color: lightGrey;
}
table tr.even,
table tr.alt,
table tr:nth-of-type(2n) {
  background: none repeat scroll 0 0 #f0f0f0;
}

.dashboard > div.dashboard-border {
   margin: 1rem;
   padding: 1rem;
   border: 1px #ccc solid;
   border-radius: 2rem;
}
.dashboard table {
   width: 100%;
}
.dashboard tr:hover td.highlight {
   background: lightblue;
}
.dashboard td.no-issues {
   background: lightGreen;
}
.dashboard tr:hover td.no-issues {
   background: #73BE73;
}
.dashboard td.severity-major {
   background: lightCoral;
}
.dashboard tr:hover td.severity-major {
   background: #C06666;
}
.dashboard td.severity-minor {
   background: yellow;
}
.dashboard tr:hover td.severity-minor {
   background: #CCCC00;
}


.report .languages {
   border: 1px #ccc solid;
}
.report .tabs dd.active a {
   background-color: #008cba;
   color: white;
}
.report .tabs dd.active:after {
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid #008cba;
  content: "";
  left: 50%;
  margin-left: -8px;
  position: absolute;
  top: 100%;
  z-index: 1000;
}
.report .tabs dd > a {
   background-color: lightGrey;
   padding-top: 0px;
   padding-bottom: 0px;
}
.report .tabs-content {
   border-top: 1px #aaa solid;
   padding: 1rem;
}
.report table th {
   vertical-align: top;
}
