body {
   color: black;
   font-family: sans-serif;
   margin: 15px;
   padding: 10px;
   padding-top: 0px;
   border: 2px #aaaaaa solid;
   border-radius: 10px;
}
hr {
   border: 1px solid #aaaaaa;
}
h1, h2 {
   border-radius: 5px;
   padding: 3px;
   border: 1px solid black;
}
h1 {
   background-color: darkGrey;
}
h2 {
   background-color: lightGrey;
}
table, td, th {
   border-collapse: collapse;
}
th {
   background-color: #dddddd;
   text-align: center;
}
th, td {
   border: 1px solid #aaaaaa;
   padding: 0.4em;
}
tr:hover td.highlight {
   background: lightblue;
}
tr:nth-child(even) {
   background: white;
}
tr:nth-child(odd) {
   background: #eeeeee;
}
td.no-issues {
   background: lightGreen;
}
tr:hover td.no-issues {
   background: #73BE73;
}
td.severity-major {
   background: lightCoral;
}
tr:hover td.severity-major {
   background: #C06666;
}
td.severity-minor {
   background: yellow;
}
tr:hover td.severity-minor {
   background: #CCCC00;
}
td.project-col {
   border-right: none;
}
td.project-row {
   border-left: none;
}